.grandpa-header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    background-color: var(--color-grandpa-blue);
}
.header-logo {
    display: flex;
    width: 60%;
    max-width: 500px;
}
.header-logo img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.grandpa-header a {
    color: white;
    text-decoration: none;
}
.header-menu {
    display: flex;
    font-size: 1.3em;
    width: 67%;
    font-family: 'Montserrat-Regular';
    padding-top: 40px;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .header-logo {
        width: 80%;
    }
}